.main-container {
  display: grid;
  grid-template-columns: 20% auto;

  .side-nav {
    border-right: 1px black;
  }
}
.is-complete {
  opacity: 0.6;
  text-decoration: line-through;
  background: #d1d1d1;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.current {
  color: #0854d9;
  opacity: 1;
  letter-spacing: 0;
}
