<ul class="nav flex-column ">
  <li class="nav-item">
    <h1 href="#" class="h1 nav-link font-weight-bold">
      Anapanda
    </h1>
    <a href="#" class="h5 nav-link ">
      <FaIcon @icon="check-circle" />
      My Tasks
    </a>
    <a href="#" class=" h5 nav-link text-dark">
      <FaIcon @icon="clipboard-list" />
      Projects
    </a>
    <a href="#" class=" h5 nav-link text-dark">
      <span>
        <FaIcon @icon="calendar-check" />
      </span>

      Calendar
    </a>
  </li>
</ul>